.icon {
  background: url("/Nanai10a_icon.png");
  opacity: 0.5;

  width: 128px;
  height: 128px;

  border-radius: 50%;
}

.icon_container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
